<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title> Charts </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col>
        <img style="display: block; margin-left: auto; margin-right: auto; width: 100px;" src="{{song?.image}}" />
      </ion-col>
      <ion-col class="ion-align-self-center">
        <ion-label class="ion-text-wrap">
          <h2 style="color: white">{{song?.title}}</h2>
          <h4 style="color: gray">{{song?.artist}}</h4>
        </ion-label>
        <ion-button style="padding-top: 5px;" color="success" href="{{song?.link}}">Open Spotify</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
